  <form method="POST" action="mybookings">

{{#each bookings}}
<p>{{this.name}}</p>
<p>{{this.date}}</p>
<p>{{this.people}}</p>
<button onclick="reduce()"class="reduce" > Delete </button>
{{/each}}

<!--function reduce(){



}-->




