
<a href=""></a>
<form method="GET" action="/search">
  <label for="username">City</label>
  <input id="username" type="text" name="city" placeholder="Enter City">

  <label for="email">Food</label>
  <input id="email" type="text" name="food" placeholder="Enter Food">

  <label for="name">Name</label>
  <input id="name" type="text" name="name" placeholder="Enter name">

  <button type="submit" id="search">Search</button>

  <span>myOrders</span>

</form>
{{#each info}}
{{this.location.city}}
{{this.name}}
{{/each}}

this.city
 <button type="submit" >Order</button>
 <button type="submit" >Reserve</button>-->


